.sidebar {
  width: 90px;
  background: #f0f5f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  height: 100%;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 65px;
  height: 920px;
  background-color: #fff;
  border-radius: 50px;
}

/* circular nav icons */
.nav-item {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-decoration: none;
  background-color: #F0F5F3;
  color: #000000;
  transition: all 0.25s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}



.nav-item:hover {
  background-color: #eaf7f1;
  color: #16a34a;
}

.nav-item.active {
  background-color: #D9D9D9;
  color: #000000;
}

.nav-icon {
  font-size: 20px;
}

.nav-item.logout-link {
  position: absolute;
  bottom: 25px;
  background-color: #F0F5F3 !important;
  color: #fff !important;
}

.nav-item.logout-link:hover {
  background-color: #F0F5F3 !important;
  transform: translateY(-2px);
}

@media (max-height: 700px) {
  .sidebar-nav {
    gap: 16px;
  }

  .nav-item {
    width: 44px;
    height: 44px;
  }
}