/* 1. Stats Row */
.stats-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 110px;
  margin-bottom: 5px;
}

.custom-stat-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background: #F0F5F3;
  border: 2px solid #D9D9D9;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  height: 90px;
  width: 263px;
  gap: 15px;
  transition: transform 0.2s;
}


.custom-stat-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
}

.icon-container {
  width: 76px;
  height: 55px;
  border-radius: 38%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

.stat-value {
  font-size: 24px;
  font-weight: 700;
  color: #1f2937;
  line-height: 1;
}

.stat-title {
  font-size: 10px;
  font-weight: 500;
  color: #6b7280;
  text-transform: uppercase;
  margin-top: 2px;
}

.stat-icon {
  width: 78px;
  height: 55px;
  object-fit: contain;
}



.blurred {
  filter: blur(4px);
  opacity: 0.5;
  transition: all 0.3s ease;
  pointer-events: none;
}
