.orders-page {
  padding: 20px;
}

.orders-page h2 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #565656;
}

.orders-grid {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 50px;
}


