.tables-page{
  display: flex;
  flex-direction: column;
}

.tables-page h2 {
  padding: 15px 20px;
  font-size: 24px;
  color: #565656;
  font-weight: 600;
}

.tables-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 20px;
  padding: 20px 40px;
  width: 100%;
  box-sizing: border-box;
}

/* Table Card */
.table-card {
  position: relative;
  background: #f0f5f3;
  border-radius: 8px;
  border: 1.5px solid #e5e7eb;
  padding: 10px 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  width: 116px;
  height: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.table-card:hover {
  border-color: #16a34a;
  transform: translateY(-2px);
}

/* Delete icon */
.delete-icon {
  position: absolute;
  top: 6px;
  right: 6px;
  background: none;
  border: none;
  color: #000000;
  cursor: pointer;
  font-size: 13px;
}

.delete-icon:hover {
  color: #363a42;
}

/* Table Name */
.table-name {
  font-size: 16px;
  color: #111827;
  font-weight: 600;
  margin-bottom: 2px;
}

/* Table Number */
.table-number {
  font-size: 18px;
  font-weight: bold;
  color: #111827;
  margin-bottom: 5px;
}

/* Chair info bottom right */
.table-footer {
  height: 14px;
  width: 14px;
  position: absolute;
  bottom: 6px;
  right: 8px;
  display: flex;
  align-items: center;
  font-size: 13px;
  gap: 4px;
  color: #000000;
}

.chair-icon {
  font-size: 14px;
  color: #000000;
}

.chair-count {
  height: 12px;
  width: 12px;
  right: 2px;
  font-size: 10px;
  font-weight: 500;
}

/* Add Table (+) Card */
.add-table-card {
  background: #f9fafb;
  border: 2px dashed #999999;
  border-radius: 8px;
  width: 116px;
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border-color 0.3s ease, background 0.3s;
}

.add-table-card:hover {
  background: #ecfdf5;
}

.plus-icon {
  font-size: 22px;
  color: #000000;
}

/* Floating modal beside button */
.floating-modal.beside {
  position: absolute;
  z-index: 999;
}

/* Card Design */
.new-table-card {
  background: #f0f5f3;
  width: 200px;
  height: 253px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  border: 1px solid #e2e8f0;
}

/* Close button */
.close-btn {
  position: absolute;
  top: 4px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: #dc4242;
}

.close-btn:hover {
  color: #000;
}

/* Inputs */
.input-field,
.select-field {
  width: 100%;
  padding: 5px;
  border: 1.5px solid #d1d5db;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: 0.2s;
}

.input-field:focus,
.select-field:focus {
  border-color: #10b981;
  box-shadow: 0 0 4px rgba(16, 185, 129, 0.4);
}

.label {
  font-size: 14px;
  color: #000000;
  font-weight: 500;
}

/* Table number display */
.table-number-design {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px dashed gray;
  padding-bottom: 2px;
}

/* Create button */
.btn-create-table {
  background: #2c2c2c;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.btn-create-table:hover {
  background: #000;
}